<section id="todoapp">
    <header id="header">
        <h1>todos list</h1>
        <form id="todo-form" ng-submit="TodoList.addTodo()">
            <input id="new-todo" placeholder="Add toto item"
                   ng-model="TodoList.newTodo"
                   ng-disabled="TodoList.saving"
                   autofocus>
        </form>
    </header>
    <section id="main" ng-if="TodoList.todos.length" ng-cloak>
        <label for="toggle-all">Mark all as complete</label>
        <input id="toggle-all" type="checkbox"
               ng-model="TodoList.allChecked"
               ng-click="TodoList.markAll(TodoList.allChecked)">
        <ul id="todo-list">
            <li ng-repeat="todo in TodoList.todos | filter:TodoList.statusFilter track by $index"
                ng-class="{completed: todo.completed, editing: todo === TodoList.editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.completed"
                           ng-change="TodoList.toggleCompleted(todo)">
                    <label ng-dblclick="TodoList.editTodo(todo)">{{todo.title}}</label>
                    <button class="destroy" ng-click="TodoList.removeTodo(todo, $index)"></button>
                </div>
                <form ng-submit="TodoList.saveEdits(todo, 'submit', $index)">
                    <input class="edit" ng-trim="false" ng-model="todo.title"
                           ng-blur="TodoList.saveEdits(todo, 'blur', $index)"
                           todo-escape="TodoList.revertEdits(todo)"
                           todo-focus="todo == TodoList.editedTodo">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="TodoList.todos.length" ng-cloak>
		<span id="todo-count"><strong>{{TodoList.remainingCount}}</strong>
			<ng-pluralize count="TodoList.remainingCount"
                          when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
		</span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: TodoList.status == ''} " href="#/">All</a>
            </li>
            <li>
                <a ng-class="{selected: TodoList.status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
                <a ng-class="{selected: TodoList.status == 'completed'}" href="#/completed">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-click="TodoList.clearCompletedTodos()" ng-show="TodoList.completedCount">Clear
            completed
        </button>
    </footer>
</section>
<footer id="info">
</footer>
